# App
streamlit
plotly

# Data
pandas
numpy
scikit-learn
pyarrow

# Google Cloud
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
google-genai

# Vector search
faiss-cpu

# Environment
python-dotenv